body, html {
  margin: 0;
  height: 100%;
  background-color: #3a3a3a;
  scroll-behavior: smooth; }

#header {
  background: url("../../images/banner.jpeg") center no-repeat;
  height: 100%;
  background-attachment: fixed;
  z-index: 2; }
  #header .shade {
    height: 100%;
    background-color: rgba(58, 61, 223, 0.815); }

.nav-navbar {
  height: 3rem;
  background-color: #282828;
  box-shadow: 2px 3px 10px #282828;
  position: fixed;
  width: 100%;
  z-index: 4;
  animation-name: navDown;
  animation-duration: 4s; }

@keyframes navDown {
  from {
    height: 0; }
  to {
    height: 3rem; } }
  .nav-navbar .username {
    position: absolute;
    color: #c0acff;
    font-size: 1.5rem;
    margin-top: 6px;
    margin-left: 2rem;
    animation-name: navDown2;
    animation-duration: 4s; }
  .nav-navbar a {
    color: #eeeeee;
    float: right;
    font-size: 1rem;
    padding: 10px;
    padding-bottom: 13px;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center; }
  .nav-navbar .links {
    animation-name: navDown3;
    animation-duration: 4s; }
  .nav-navbar .burger {
    float: right;
    color: #eeeeee;
    display: none;
    animation-name: navDown3;
    animation-duration: 4s; }

@keyframes navDown2 {
  from {
    margin-top: -60px; }
  to {
    margin-top: 6px; } }

@keyframes navDown3 {
  from {
    margin-top: -60px; }
  to {
    margin-top: 0; } }
  .nav-navbar a:hover {
    background-color: #3500d3;
    color: #eeeeee;
    text-decoration: none;
    animation-name: slide;
    animation-duration: 2s;
    border-bottom: solid 2px #3500d3; }

@keyframes slide {
  from {
    background-color: rgba(53, 0, 211, 0);
    border-bottom: solid 2px #3500d3; }
  to {
    background-color: #3500d3;
    border-bottom: solid 2px white; } }
  .nav-navbar .space-right {
    margin-right: 3rem; }

.title {
  position: absolute;
  top: 45%;
  width: 100%;
  text-align: center;
  animation-name: slideDown;
  animation-duration: 4s;
  z-index: 3; }

@keyframes slideDown {
  from {
    margin-top: -1000px; }
  to {
    margin-top: 0; } }
  .title .title-text {
    text-transform: uppercase;
    color: #eeeeee;
    font-size: 5rem; }
  .title .sub-text {
    font-size: 1.5rem;
    color: #eeeeee; }

.go-down {
  position: absolute;
  bottom: 0px;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  color: white;
  animation-name: slideUp;
  animation-duration: 8s; }

@keyframes slideUp {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fa-angle-down:hover {
  cursor: pointer; }

#about {
  padding-top: 1rem;
  padding-bottom: 5rem; }
  #about .me {
    display: flex;
    width: 200px;
    border-radius: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5rem; }
  #about .animate {
    animation-name: photoFade;
    animation-duration: 8s; }
  #about .animate2 {
    animation-name: textSlide;
    animation-duration: 4s; }
  #about .about-title {
    text-align: center;
    color: #eeeeee;
    margin-top: 3rem;
    z-index: 1; }
  #about .about-me {
    color: #eeeeee;
    text-align: center;
    margin: 1rem 28% 0 28%;
    margin-bottom: 5rem; }

@keyframes textSlide {
  from {
    margin-right: -1500px; }
  to { } }

@keyframes photoFade {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

#skills {
  background-color: #535353;
  padding-top: 8rem;
  padding-bottom: 3rem; }
  #skills .image-skills {
    width: 200px;
    border-radius: 10%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem; }
  #skills .skills-title {
    text-align: center;
    color: #eeeeee; }
  #skills .html {
    background-color: #9374fc;
    border-radius: 10px; }
    #skills .html .inside {
      background-color: #c0acff;
      width: 85%;
      border-radius: 10px;
      text-align: center;
      color: #6033f5;
      font-weight: 800; }
  #skills .css {
    background-color: #9374fc;
    border-radius: 10px; }
    #skills .css .inside {
      background-color: #c0acff;
      width: 75%;
      border-radius: 10px;
      text-align: center;
      color: #6033f5;
      font-weight: 800; }
  #skills .js {
    background-color: #9374fc;
    border-radius: 10px; }
    #skills .js .inside {
      background-color: #c0acff;
      width: 65%;
      border-radius: 10px;
      text-align: center;
      color: #6033f5;
      font-weight: 800; }
  #skills .php {
    background-color: #9374fc;
    border-radius: 10px; }
    #skills .php .inside {
      background-color: #c0acff;
      width: 45%;
      border-radius: 10px;
      text-align: center;
      color: #6033f5;
      font-weight: 800; }
  #skills .sql {
    background-color: #9374fc;
    border-radius: 10px; }
    #skills .sql .inside {
      background-color: #c0acff;
      width: 65%;
      border-radius: 10px;
      text-align: center;
      color: #6033f5;
      font-weight: 800; }
  #skills .java {
    background-color: #9374fc;
    border-radius: 10px; }
    #skills .java .inside {
      background-color: #c0acff;
      width: 50%;
      border-radius: 10px;
      text-align: center;
      color: #6033f5;
      font-weight: 800; }
  #skills .ps {
    background-color: #9374fc;
    border-radius: 10px; }
    #skills .ps .inside {
      background-color: #c0acff;
      width: 67%;
      border-radius: 10px;
      text-align: center;
      color: #6033f5;
      font-weight: 800; }
  #skills .animate-skills {
    animation-name: bigUp;
    animation-duration: 4s; }
  #skills .lang {
    margin: 2.5rem 30% 0 30%; }

@keyframes bigUp {
  from {
    width: 0%; }
  to { } }

#portofolio {
  padding-top: 5rem; }
  #portofolio .porto-title {
    color: #eeeeee;
    text-align: center; }
  #portofolio #slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
  #portofolio #slides2 {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none; }
  #portofolio .slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
  #portofolio .slide2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s; }
  #portofolio .showing {
    opacity: 1;
    z-index: 2; }
  #portofolio .showing2 {
    opacity: 1;
    z-index: 2; }
  #portofolio .slide-image {
    width: 50%;
    display: flex;
    margin-right: auto;
    margin-left: auto; }
  #portofolio .design {
    text-align: center;
    color: #eeeeee;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  #portofolio .slide-animate {
    animation-name: slide1;
    animation-duration: 4s; }
  #portofolio .slide-animate2 {
    animation-name: slide2;
    animation-duration: 4s; }

@keyframes slide1 {
  from {
    margin-right: -1000px; }
  to {
    margin-right: 0; } }

@keyframes slide2 {
  from {
    margin-left: -1000px; }
  to {
    margin-left: 0; } }

#footer {
  margin-top: 5rem;
  background-color: #535353;
  padding-top: 3rem; }
  #footer .contact {
    color: #eeeeee;
    text-align: center; }
  #footer .email {
    color: #c0acff;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center; }
  #footer .email:hover {
    color: #f2c6ff; }
  #footer .center {
    text-align: center; }
  #footer .social {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem; }
    #footer .social a {
      color: #9374fc; }
    #footer .social a:hover {
      color: #f2c6ff; }
    #footer .social .spin:hover {
      animation-name: spin;
      animation-duration: 1s; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-left: -2rem; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {
    font-size: 18px; } }

@media (max-width: 1200px) {
  .about-me {
    margin: 1rem 16% 0 16% !important; }
  .lang {
    margin: 2.5rem 15% 0 15% !important; }
  .slide-image {
    width: 70% !important; }
  .design {
    margin-top: 4rem !important;
    margin-bottom: 3rem !important; } }

@media (max-width: 900px) {
  .about-me {
    margin: 1rem 8% 0 8% !important; }
  .slide-image {
    width: 80% !important; }
  .title-text {
    font-size: 3rem !important; }
  .design {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important; } }

@media (max-width: 768px) {
  .about-me {
    margin: 1rem 18% 0 18% !important; }
  .title-text {
    font-size: 2.5rem !important; }
  .burger {
    display: block !important;
    margin-right: 1.5rem !important; }
  .links {
    display: none !important; }
  .design2 {
    margin-top: -3rem !important;
    margin-bottom: 1rem !important; } }

@media (max-width: 640px) {
  .about-me {
    margin: 1rem 3% 0 3% !important; }
  .lang {
    margin: 2.5rem 10% 0 10% !important; }
  .slide-image {
    width: 95% !important; } }
