// PUT VARIABLES OF COLORS , IMAGES etc...

//THESE ARE THE COLORS
$primary-color: #0C0032;
$secondary-color: #1d0485;
$third: #3500d3;
$fourth: #c0acff;
$fifth: #282828;
$in: #9374fc;
$in-text: #6033f5;
$background: #3a3a3a;
$background-skills: #535353;
$text: #eeeeee;
$text-black: #000000;

//HERE ARE THE FONTS


body,html {
    margin: 0;
    height: 100%;
    background-color: $background;
        scroll-behavior: smooth;
}


#header{
    background: url("../../images/banner.jpeg") center no-repeat;
    height: 100%;
    background-attachment: fixed;
    z-index: 2;

    .shade {
        height: 100%;
        background-color: rgba(58, 61, 223, 0.815);
    }

}

.nav-navbar{

    height: 3rem;
    background-color: $fifth;
    box-shadow: 2px 3px 10px $fifth;
    position: fixed;
    width: 100%;
    z-index: 4;
    animation-name: navDown;
    animation-duration: 4s;

    @keyframes navDown {
        from{height: 0;}
        to{height: 3rem;}
    }

    .username {
        position: absolute;
        color: $fourth;
        font-size: 1.5rem;
        margin-top: 6px;
        margin-left: 2rem;
        animation-name: navDown2;
        animation-duration: 4s;
    }



    a {
        color: $text;
        float: right;
        font-size: 1rem;
        padding: 10px;
        padding-bottom: 13px;
        padding-right: 1rem;
        padding-left: 1rem;
        text-align: center;
        
    }

    .links {
        animation-name: navDown3;
        animation-duration: 4s;
    }

    .burger {
        float: right;
        color: $text;
        display: none;
        animation-name: navDown3;
        animation-duration: 4s;
    }

    @keyframes navDown2 {
        from{margin-top: -60px;}
        to{margin-top: 6px;}
    }

    @keyframes navDown3 {
        from{margin-top: -60px;}
        to{margin-top: 0;}
    }

    a:hover {
        background-color: $third;
        color: $text;
        text-decoration: none;
        animation-name: slide;
        animation-duration: 2s;
        border-bottom: solid 2px $third;
    }

    @keyframes slide {
        from{background-color:rgba(53, 0, 211,0);border-bottom: solid 2px $third}
        to{background-color:rgba(53, 0, 211,1);border-bottom: solid 2px white}
    }


    .space-right {
        margin-right: 3rem;
    }

}

.title {

    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    animation-name: slideDown;
    animation-duration: 4s;
    z-index: 3;

    @keyframes slideDown {
        from{margin-top: -1000px;}
        to{margin-top: 0;}
    }
    
    .title-text {
        text-transform: uppercase;
        color: $text;
        font-size: 5rem;
    }

    .sub-text {
        font-size: 1.5rem;
        color: $text;
    }

}

.go-down {

    position: absolute;
    bottom: 0px;
    font-size: 3rem;
    width: 100%;
    text-align: center;
    color: white;
    animation-name: slideUp;
    animation-duration: 8s;

    @keyframes slideUp {
        from{opacity: 0;}
        to{opacity: 1;}
    }
}

.fa-angle-down:hover {
    cursor: pointer;
}

// MAIN SECTION

#about {
    padding-top: 1rem;
    padding-bottom: 5rem;

    .me {
        display: flex;
        width: 200px;
        border-radius: 30%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5rem;
        
    }

    
    .animate {
        animation-name: photoFade;
        animation-duration: 8s;
    }
    .animate2 {
        animation-name: textSlide;
        animation-duration: 4s;
    }
    

   
    .about-title {
        text-align: center;
        color: $text;
        margin-top: 3rem;
        z-index: 1;
    }

    .about-me {
        color: $text;
        text-align: center;
        margin: 1rem 28% 0 28%;
        margin-bottom: 5rem;
    }

    @keyframes textSlide {
        from{margin-right: -1500px}
        to{}
    }

    @keyframes photoFade {
        from{opacity: 0;}
        to{opacity: 1;}
    }




}


#skills {

    background-color: $background-skills;
    padding-top: 8rem;
    padding-bottom: 3rem;

    .image-skills {
        width: 200px;
        border-radius: 10%;
        display: flex;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1rem;
    }

    .skills-title {
        text-align: center;
        color: $text;
    }

    .html {
        background-color: $in;
        border-radius: 10px;

        .inside {
            background-color: $fourth;
            width: 85%;
            border-radius: 10px;
            text-align: center;
            color: $in-text;
            font-weight: 800;
        }

        
    }

    .css {
        background-color: $in;
        border-radius: 10px;

        .inside {
            background-color: $fourth;
            width: 75%;
            border-radius: 10px;
            text-align: center;
            color: $in-text;
            font-weight: 800;
        }
    }

    .js {
        background-color: $in;
        border-radius: 10px;

        .inside {
            background-color: $fourth;
            width: 65%;
            border-radius: 10px;
            text-align: center;
            color: $in-text;
            font-weight: 800;
        }
    }

    .php {
        background-color: $in;
        border-radius: 10px;

        .inside {
            background-color: $fourth;
            width: 45%;
            border-radius: 10px;
            text-align: center;
            color: $in-text;
            font-weight: 800;
        }
    }

    .sql {
        background-color: $in;
        border-radius: 10px;

        .inside {
            background-color: $fourth;
            width: 65%;
            border-radius: 10px;
            text-align: center;
            color: $in-text;
            font-weight: 800;
        }
    }

    .java {
        background-color: $in;
        border-radius: 10px;

        .inside {
            background-color: $fourth;
            width: 50%;
            border-radius: 10px;
            text-align: center;
            color: $in-text;
            font-weight: 800;
        }
    }

    .ps {
        background-color: $in;
        border-radius: 10px;

        .inside {
            background-color: $fourth;
            width: 67%;
            border-radius: 10px;
            text-align: center;
            color: $in-text;
            font-weight: 800;

        }
    }

    .animate-skills {
        animation-name: bigUp;
        animation-duration: 4s;
    }

    .lang {
        margin: 2.5rem 30% 0 30%;
    }

    @keyframes bigUp {
        from{width: 0%}
        to{}
    }
}

#portofolio{
    padding-top: 5rem;

    .porto-title {
        color: $text;
        text-align: center;
    }

    #slides {
        position: relative;
        height: 300px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }

    #slides2 {
        position: relative;
        height: 300px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
    }
    
    .slide {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
    
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }
    .slide2 {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
    
        -webkit-transition: opacity 1s;
        -moz-transition: opacity 1s;
        -o-transition: opacity 1s;
        transition: opacity 1s;
    }
    
    .showing {
        opacity: 1;
        z-index: 2;
    }

    .showing2 {
        opacity: 1;
        z-index: 2;
    }

    .slide-image {
        width: 50%;
        display: flex;
        margin-right: auto;
        margin-left: auto;
    }

    .design {
        text-align: center;
        color: $text;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .slide-animate {
        animation-name: slide1;
        animation-duration: 4s;
    }

    .slide-animate2 {
        animation-name: slide2;
        animation-duration: 4s;
    }

    @keyframes slide1 {
        from{margin-right: -1000px;}
        to{margin-right: 0;}
    }

    @keyframes slide2 {
        from{margin-left: -1000px;}
        to{margin-left: 0;}
    }
}

#footer {
    margin-top: 5rem;
    background-color: $background-skills;
    padding-top: 3rem;

    .contact {
        color: $text;
        text-align: center;
    }

    .email {
        color: $fourth;
        text-decoration: none;
        font-size: 1.5rem;
        text-align: center;
    }

    .email:hover {
        color: rgb(242, 198, 255);
    }


    .center {
        text-align: center;

    }

    .social{
        text-align: center;
        font-size: 2rem;
        padding-bottom: 2rem;

        a{
            color: $in;
        }

        a:hover{
            color: rgb(242, 198, 255);
        }

        .spin:hover {
            animation-name: spin;
            animation-duration: 1s;
        }

        
    @keyframes spin {
        from {transform:rotate(0deg);}
        to {transform:rotate(360deg);}
    }

    }

}

//SideNav

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-left: -2rem;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (max-width: 1200px) { 
    .about-me {
        margin: 1rem 16% 0 16% !important;

    }

    .lang {
        margin: 2.5rem 15% 0 15% !important;
    }

    .slide-image {
        width: 70% !important;
    }

    .design {
        margin-top: 4rem !important;
        margin-bottom: 3rem !important;
    }
 }

@media (max-width: 900px) { 
    .about-me {
        margin: 1rem 8% 0 8% !important;

    }

    .slide-image {
        width: 80% !important;
    }

    .title-text {
        font-size: 3rem !important;
    }

    .design {
        margin-top: 2rem !important;
        margin-bottom: 2rem !important;
    }
 }


@media (max-width: 768px) { 
    .about-me {
        margin: 1rem 18% 0 18% !important;

    }

    .title-text {
        font-size: 2.5rem !important;
    }

    .burger {
        display: block !important;
        margin-right: 2.5rem !important;
    }

        

    .links {
        display: none !important;
    }

    .design2 {
        margin-top: -3rem !important;
        margin-bottom: 1rem !important;
    }
 }

 @media (max-width: 640px) { 
    .about-me {
        margin: 1rem 3% 0 3% !important;

    }
    

    .lang {
        margin: 2.5rem 10% 0 10% !important;
    }

    .slide-image {
        width: 95% !important;
    }
 }

